<!DOCTYPE html>
<html>
<head>
	<title>Avatar deel 2</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="layout.css">
</head>
<body>
	<header>
	<ul>
		<li><a href="home.html">Home</a></li>
		<li><a href="hobby.html">Mijn hobby</a></li>
		<li><a href="Nieuws.html">Nieuws</a></li>
	</ul>
</header>
<main>
	<a href="http://www.designyourway.net/blog/inspiration/35-nike-print-advertisements-that-boosted-the-companys-income/"><img src="ad1.jpg" class="ad2"
	width="158px" height="250px"></a> 
	<a href="http://www.heinzketchup.com"><img src="ad2.jpg" class="ad" 
	width="158px" height="250px"></a>
	<a href="https://www.cocacola.nl/home/"><img src="ad3.jpg" class="ad3"
	width="158px" height="258px"></a>
	
	<h1>Avatar 2 opnamens zijn begonnen.</h1>
	<p class="oke"><b>De camera's zijn begonnen met filmen voor de nieuwe avatar film van James Cameron. In 2009 kwam Avatar uit, het was een monsterhit. Na een lange tijd wachten zijn er nu dus weer opnamens begonnen voor deel 2! De eerste officiële foto van een aantal nieuwe karakters is al uitgebracht.</b></p>

	<p class="ok">Op de foto die genomen is achter de schermen van Avatar 2 zijn onder andere de acteurs te zien die de kinderen van blauwe wezens Jake (Sam Worthington) en Neytiri (Zoe Saldana ) gaan spelen in de vervolgfilms. De volgende generatie bewoners op de betoverend mooie planeet Pandora staat dus al klaar!</p>
	<img src="avatarfoto.jpg">
	<p class="ok">(Van links naar rechts: Britain Dalton, Filip Geljo, Jamie Flatters, Bailey Bass, Trinity Bliss, Jack Champion en Duane Evans Jr.)</p>

	<p class="ok">Natuurlijk zullen de meeste van deze kinderen onherkenbaar te zien zijn als blauwe Na'vi-personages in de film. Alleen Jack Champion, het jochie in het blauwe shirt, speelt een menselijke tiener, genaamd 'Spider', die geboren is op een belangrijke locatie uit de eerste film: het militaire complex Hell's Gate. Volgens de makers is het goed dat in de vervolgfilms ook een jeugdig element zit, hetgeen ontbrak in het eerste deel.</p>

	<p class="ok">Na jarenlang plannen en voorbereiden en de steeds opnieuw terugkerende nieuwsberichten dat Camerons volgende Avatar-films wéér waren uitgesteld, is de productie nu toch eindelijk écht begonnen. Fans van de best presterende film aan de wereldwijde Box Office aller tijden zullen opgelucht hebben ademgehaald toen het startschot bekend werd gemaakt afgelopen maandag.</p>

	<p class="ok">Fans van de sci-fi blockbustser moeten overigens nog wel eventjes geduld hebben voordat Avatar 2 daadwerkelijk in de bioscopen te bekijken valt. Op dit moment staat de film gepland op 18 december 2020. Camerons andere drie delen verschijnen respectievelijk in december 2021, 2024 en 2025 .</p>
	<a href="https://www.filmtotaal.nl/film/18785/nieuws">meer over Avatar 2</a>
</main>
</body>
</html>