<!DOCTYPE html>
<html>
<head>
	<title>Mijn hobby</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="layout.css">
</head>
<body>
	<header>
		<ul>
		<li><a href="home.html">Home</a></li>
		<li><a href="hobby.html">Mijn hobby</a></li>
		<li><a href="Nieuws.html">Nieuws</a></li>
	</ul>
</header>
<main>
	<a href="http://www.designyourway.net/blog/inspiration/35-nike-print-advertisements-that-boosted-the-companys-income/"><img src="ad1.jpg" class="ad2"
	width="158px" height="250px"></a> 
	<a href="http://www.heinzketchup.com"><img src="ad2.jpg" class="ad" 
	width="158px" height="250px"></a>
	<a href="https://www.cocacola.nl/home/"><img src="ad3.jpg" class="ad3"
	width="158px" height="258px"></a>
	<h1>Mijn hobby</h1>
	<img src="netflix.jpg" class="ll" 
		width="500px" height="350px">
	<p class="nieuws">Mijn hobby is vooral films en series kijken maar ook soms gamen, gamen doe ik op mijn playstation 4. een andere hobby van mij is korfbal en gewoon met vrienden omgaan. Maar terug naar de films en series, deze films en series kijk ik meestal op Netflix. Netflix is een site waarop je films en series kan kijken, het is daarintegen zeker niet gratis. Hier is een overzicht van de kosten.</p> 
		<li>Basis: €7,99
		<p class="oke"> Je kan dan maar op 1 scherm kijken en je hebt geen HD.  Kijk op je laptop, tv, telefoon en tablet.</p></li>
		<li>Standaard: € 9,99
		<p class="oke"> Je kan op 2 schermen tegelijk kijken, handig als je met 2 personen bent en je wilt alle 2 iets anders kijken.  HD is beschikbaar. Kijk op je laptop, tv, telefoon en tablet. Dit is ook het meest gekozen pakket.</p></li>
		<li>Premium: €11,99
		<p class="oke"> Je kan op 4 schermen tegelijk kijken. HD en Ultra HD beschikbaar voor alle schermen. Kijk op je laptob,tv,telefoon en tablet.</p></li>
		
</main>
</body>
</html>