<!DOCTYPE html>
<html>
<head>
	<title>layout</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="layout.css">
</head>
<body>
	<header>
	

	<ul>
		<li><a href="home.html">Home</a></li>
		<li><a href="hobby.html">Mijn hobby</a></li>
		<li><a href="Nieuws.html">Nieuws</a></li>
	</ul>
	</header>
<main>
	<h2 class="twd">-----------The Walking Dead word verwijderd van netflix.--------------------Stephen king's IT film opnieuw in de bioscoop.----------------</h2>

	<a href="http://www.designyourway.net/blog/inspiration/35-nike-print-advertisements-that-boosted-the-companys-income/"><img src="ad1.jpg" class="ad2"
	width="158px" height="250px"></a> 
	<a href="http://www.heinzketchup.com"><img src="ad2.jpg" class="ad" 
	width="158px" height="250px"></a>
	<a href="https://www.cocacola.nl/home/"><img src="ad3.jpg" class="ad3"
	width="158px" height="258px"></a>

	<img src="walkingdead.jpg"
	width="630px" height="430px" class="img">
		<img src="it.jpg"
	width="690px" height="430px" class="img2">
	<p class="text">
		De laatste tijd is Netflix een hele hoop films en series aan het verwijderen. Nu is het helaas ook afgelopen met The Walking Dead(TWD). TWD is Eén van de meest bekeken series op netflix en heeft ook een hoop afleveringen. In 2015 kwam TWD voor het eerst op netflix, langzaam aan zijn er steeds meer seizoenen opgekomen, maarliefst 6 seizoenen staan momenteel op Netflix. Maar daar heb je binnekort niets meer aan. <a href="file:///C:/Users/Eigenaar/Documents/school/layout/the%20walking%20dead.html">Lees meer...</a></p>
		<p class="text2">De film It werd in 1990 voor het eerst uitgebracht en het was een groot succes. De film was deze dagen nogsteeds bekend maar al heel oud dus leek het de regiseurs een goed idee om er een nieuwe versie van te maken. Het zou hetzelfde verhaal blijven alleen nieuwe acteurs en betere kwaliteit. De film is ondertussen al in de bioscoop.<a href="file:///C:/Users/Eigenaar/Documents/school/layout/IT.html">Lees meer...</a></p><br>
		<h2 class="h2">-----Opnamens voor Avatar deel 2 zijn officieel begonnen.-----------------------5 Films die je niet mag missen in Oktober.------------------</h2>
		<img src="avatar.jpg" class="got" 
		width="650" height="410"> 
		<img src="bios.jpg"
		width="680" height="410">
		<p class="text">De camera's zijn begonnen met filmen voor de nieuwe avatar film van James Cameron. In 2009 kwam Avatar uit, het was een monsterhit. Na een lange tijd wachten zijn er nu dus weer opnamens begonnen voor deel 2! De eerste officiële foto van een aantal nieuwe karakters is al uitgebracht. <a href="file:///C:/Users/Eigenaar/Documents/school/layout/Avatar.html">Lees meer...</a></p>
		<p>Onophoudelijk worden we overspoeld door nieuwe bioscoopfilms. Elke week gaan er gemiddeld zo'n zeven in première. Hieronder een selectie van de grootste, interessantste of opmerkelijkste releases van de komende maand.<a href="file:///C:/Users/Eigenaar/Documents/school/layout/films.html">Klik hier</a> voor het volledige overzicht.</p>
	</main>
</body>
</html>