<!DOCTYPE html>
<html>
<head>
	<title>IT de film</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="layout.css">
</head>
<body>
	<header>
	<ul>
		<li><a href="home.html">Home</a></li>
		<li><a href="hobby.html">Mijn hobby</a></li>
		<li><a href="Nieuws.html">Nieuws</a></li>
	</ul>
</header>
<main>
	<a href="http://www.designyourway.net/blog/inspiration/35-nike-print-advertisements-that-boosted-the-companys-income/"><img src="ad1.jpg" class="ad2"
	width="158px" height="250px"></a> 
	<a href="http://www.heinzketchup.com"><img src="ad2.jpg" class="ad" 
	width="158px" height="250px"></a>
	<a href="https://www.cocacola.nl/home/"><img src="ad3.jpg" class="ad3"
	width="158px" height="258px"></a>
	<h1>Stephen King's IT</h1>
	<p class="oke"><i>Het is zulk extreem personage. Onmenselijk,vertelde Skarsgård,Het gaat veel verder dan een sociopaat, want hij is niet eens een mens. Hij is niet eens een clown. Ik speel gewoon een van de wezens die It maakt. It houdt van de vorm van clown Pennywise, en geniet ervan te jagen. Wat grappig is voor deze kwade entiteit is niet grappig voor anderen. Maar hij vindt het wel grappig.</i></p>

	<img src="itfoto.jpg"
	width="750px" height="500px">

	<p class="ok">Verder meldt EW dat de film zich in het heden af gaat spelen. Het oorspronkelijke verhaal van Stephen King speelt juist in de jaren 50 en jaren 80. Ditmaal vormen de jaren 80 de achtergrond voor de flashbacks die we te zien krijgen en speelt de rest van het verhaal zich in het heden af.</p>

	<p class="ok">De film wordt geregisseerd door Andy Muschietti. It verenigt een groep van zeven kinderen, de Losers Club. Ze staan lijnrecht tegenover problemen, pestkoppen en een monster dat de vorm van clown Pennywise aanneemt. Jaren later, als ze allang uit elkaar gegroeid zijn, komen ze weer met elkaar in contact en moeten ze het opnieuw opnemen tegen Pennywise ditmaal om een definitief einde aan zijn bestaan te maken. <a href="https://en.wikipedia.org/wiki/It_(2017_film)"> lees meer over IT</a></p>
	<img src="itfoto2.jpg"
	width="650px" height="350px">

</main>
</body>
</html>