<!DOCTYPE html>
<html>
<head>
	<title>Nieuws</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="layout.css">
</head>
<body>
	<header>
	<ul>
		<li><a href="home.html">Home</a></li>
		<li><a href="hobby.html">Mijn hobby</a></li>
		<li><a href="Nieuws.html">Nieuws</a></li>
	</ul>
</header>
<main>
	<h1>Nieuws</h1>
	<a href="http://www.designyourway.net/blog/inspiration/35-nike-print-advertisements-that-boosted-the-companys-income/"><img src="ad1.jpg" class="ad2"
	width="158px" height="250px"></a> 
	<a href="http://www.heinzketchup.com"><img src="ad2.jpg" class="ad" 
	width="158px" height="250px"></a>
	<a href="https://www.cocacola.nl/home/"><img src="ad3.jpg" class="ad3"
	width="158px" height="258px"></a>

	<img src="ds.jpg" class="llp" 
	width="550px" height="300px">
	<p class="oke"><b>Elke week worden er nieuwe titels toegevoegd op Netflix: in samenwerking met Superguide plaatst NU.nl een overzicht van films en series die afgelopen week op de streamingdienst verschenen.</b></p>

	<p class="oke">Kiefer Sutherland keert terug als president Tom Kirkman, in het tweede seizoen van Designated Survivor. Het onervaren staatshoofd probeert het machtigste land ter wereld te besturen, terwijl een mysterieuze organisatie de regering ondermijnt.</p>

	<p class="oke">Marlon Brando en Al Pacino stralen als Vito en Michael Corleone, in Francis Ford Coppola’s The Godfather. Coppola’s meesterwerk uit 1972 blies weer leven in films over de georganiseerde misdaad, en zette een nieuwe standaard neer.</p>
	<h3>Series</h3>
	<p class="oke">De nieuwe Star Trek-serie Discovery volgt eerste luitenant Michael Burnham (Sonequa Martin-Green) als officier in de ruimtevloot van de Federation. De serie speelt zich af vóór de avonturen van kapitein Kirk en Mr. Spock op de USS Enterprise.</p>

 	<p class="oke">Nieuwe serie Star Trek Discovery: speelt zich tien jaar voor Kirk en Enterprise af Nieuwe serie Star Trek Discovery: speelt zich tien jaar voor Kirk en Enterprise af
	June Colburn (Dreama Walker) verhuist van het platteland naar New York, in de sitcom Don’t Trust The B---- in Apartment 23. Ze sluit vriendschap met haar losgeslagen flatgenoot Chloe (Krysten Ritter). Meer humor zie je in de politiekomedie Brooklyn Nine-Nine, waarvan drie seizoenen op Netflix verschenen.</p>

	<p class="oke">Voormalig journalist Martin Bohm (Kiefer Sutherland) ontdekt dat zijn autistische zoon (David Mazouz) de toekomst kan voorspellen door middel van cijferreeksen, in de dramaserie Touch.</p>

	<h3>Films</h3>
	<p class="oke">Jessie (Carla Gugino) en Gerald (Bruce Greenwood) proberen hun uitgebluste huwelijk nieuw leven in te blazen, met een weekendje in een afgelegen bungalow. De erotische spanning verandert al snel in doodsangst, in de psychologische horrorfilm Gerald’s Game. Gebaseerd op de novelle van Stephen King.</p>

	<p class="oke">Een klantenservicemedewerker (David Thewlis) zit zó diep in de put dat iedereen om hem heen (Tom Noonan) er precies hetzelfde uitziet. Dan ontmoet hij een vrouw met een eigen gezicht (Jennifer Jason Leigh). Is dit zijn kans om weer gelukkig te worden? Anomalisa, een stop-motion comedy/dramafilm, werd genomineerd voor een Oscar en een Emmy.</p>
	<img src="longshot.jpg" class="llp"
	width="400px" height="300px">
	<h3>Documentaires</h3>
	<p class="oke">De misdaaddocumentaire Long Shot toont het waargebeurde verhaal van Juan Catalan. Catalan werd verdacht van een gewelddadige moord, en had geen waterdicht alibi. De doodstraf hing hem boven het hoofd, tot opnames van de comedyserie Curb Your Enthusiasm bewezen dat hij de moord niet gepleegd kón hebben.</p>

	<p class="oke">Minder zware kost vind je in Paul Hollywood’s Big Continental Road Trip. De chefkok (en jurylid van The Great British Bake-Off) steekt het kanaal over, en duikt in de cultuur van verschillende Europese landen. Hollywood combineert zijn passie voor auto’s met lokale lekkernijen.</p>

	<h3>Stand-up comedy en cabaret</h3>
	<p class="oke">25 jaar geleden startte HBO met een stand-up comedyserie: Def Comedy Jam. Het programma werd dé springplank voor gekleurde comedians als Chris Tucker, Kevin Hart, Jamie Foxx en Bernie Mac. In Def Comedy Jam 25 brengen verschillende komieken een ode aan de show. Met o.a. Dave Chappele, Cedric the Entertainer en Tiffany Haddish.</p>
</main>
</body>
</html>