<!DOCTYPE html>
<html>
<head>
	<title>The Walking Dead</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="layout.css">
</head>
<body>
	<header>
		<ul>
		<li><a href="home.html">Home</a></li>
		<li><a href="hobby.html">Mijn hobby</a></li>
		<li><a href="Nieuws.html">Nieuws</a></li>
	</ul>
</header>
<main>
	<a href="http://www.designyourway.net/blog/inspiration/35-nike-print-advertisements-that-boosted-the-companys-income/"><img src="ad1.jpg" class="ad2"
	width="158px" height="250px"></a> 
	<a href="http://www.heinzketchup.com"><img src="ad2.jpg" class="ad" 
	width="158px" height="250px"></a>
	<a href="https://www.cocacola.nl/home/"><img src="ad3.jpg" class="ad3"
	width="158px" height="258px"></a>
	
	<h1>The Walking Dead word verwijderd van Netflix</h1>
	<p class="oke"><b>De laatste tijd is Netflix een hele hoop films en series aan het verwijderen. Nu is het helaas ook afgelopen met The Walking Dead(TWD). TWD is Eén van de meest bekeken series op netflix en heeft ook een hoop afleveringen. In 2015 kwam TWD voor het eerst op netflix, langzaam aan zijn er steeds meer seizoenen opgekomen, maarliefst 6 seizoenen staan momenteel op Netflix. Maar daar heb je binnekort niets meer aan.</b></p>

	<img src="twd.jpg"
	width="700px" height="500px">

	<p class="ok">Op 13 oktober 2017 is het precies een jaar geleden dat The Walking Dead seizoen 6 op Netflix verscheen. Dat de populaire serie nu dus in het Verwijderalarm opduikt is daarom niet heel vreemd. Licenties worden vaak voor één jaar vastgelegd en klaarblijkelijk is het Netflix (nog) niet gelukt om de rechten te verlengen. Anderhalf jaar geleden zag het er ook naar uit dat The Walking Dead verwijderd zou worden, maar dat kon ternauwernood voorkomen worden. Of dat nu ook weer het geval is, is niet bekend en dus is het niet onverstandig om er rekening mee te houden dat de laatste weken van The Walking Dead op Netflix zijn aangebroken. Ook in dit geval merken we weer op dat het mogelijk loont om suggesties in te dienen bij Netflix.</p>

	<p class="ok">The Walking Dead is overigens niet de enige opvallende titel in dit Verwijderalarm. Ook Straight Outta Compton, I Am Number Four en Insidious: Chapter 3 zijn titels die erg populair zijn. Wat dat betreft is september een zware maand, want naast de vele nieuwe titels zijn er ook heel wat verdwenen of gaan nog verdwijnen. Zo is Dexter binnenkort aan de beurt en verdwenen al veel Disney titels, ook al gaf Netflix aan dat dit slechts van tijdelijke aard is.</p>
	<a href="https://www.film.nl/series/the-walking-dead.html?gclid=Cj0KCQjwjdLOBRCkARIsAFj5-GDsA1LdF2mGJzQnb8_sCBKDWBdm2aJE4dl03rg1B-dgIL1kdgz9G5gaAoh_EALw_wcB">Kijk The walking dead hier</a>
</main>
</body>
</html>